form {
    display: flex;
    flex-direction: column;
}

.container {
    .signupText {
        font-size: 24px;
        font-weight: bold;
        margin: 20px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}