<div>
    <mat-toolbar id="splashHeader" color="primary">
        <span>AB</span>
    </mat-toolbar>
    <div class="wrapper">
        <mat-card>
            <mat-card-title>Login</mat-card-title>
            <mat-card-content>
                <app-login-form></app-login-form>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>Create Account</mat-card-title>
            <mat-card-content>
                <app-signup-form></app-signup-form>
            </mat-card-content>
        </mat-card>
    </div>
</div>